---
override: core/header
noOutput: true
---
<hr>
  <h1>{{ site.metadata.title }}</h1>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/resources'>Resources</a></li>
    <li><a href='/glossary'>Glossary</a></li>
    <li>
      Bundles:
      <ul>
        {% for bundle in site.metadata.bundles %}
          <li><a href='/{{bundle}}'>{{bundle}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
<hr>