---
override: core/header
noOutput: true
---
<hr>
  <h1>{{ site.metadata.title }}</h1>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/resources'>Resources</a></li>
    <li><a href='/glossary'>Glossary</a></li>
  </ul>
<hr>