---
title: Glossary
type: page
pageOutputPath: glossary.html
description: An index of all the terms that are on the Open FIRST Resources.
---
<h1>Glossary</h1>
<ul>
  {% for path, file in site.files %}
    {% if file.type == 'term' %}
      <li><a href="/{{ file.pageURLPath }}">{{ file.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>