---
title: Resources
type: page
pageOutputPath: resources.html
description: Everything in the Open FIRST Resources.
---
<h1>Resources</h1>
<ul>
  {% for path, file in site.files %}
    {% if file.type != 'undefined' %}
      <li><a href="/{{ file.pageURLPath }}">{{ file.title }} ({{ path }})</a></li>
    {% endif %}
  {% endfor %}
</ul>