---
noOutput: true
override: core/document
---
{% extends 'core/page' %}

{% block pageContent %}
  <h1>Document -> {{ title }}</h1>
  {% filter markdown %}{% include contentPath %}{% endfilter %}
{% endblock %}