---
title: Home
type: page
override: core/home
pageOutputPath: index.html
description: The homepage of the Open FIRST Resources.
---
<h1>Home</h1>
Welcome to the Open FIRST Resources! This site is still under heavy initial development...

You can use the header above to navigate to the resources and glossary page!