---
noOutput: true
---
{% extends 'core/templates/base.njk' %}

{% block bodyContent %}
  {% include 'core/partials/header.njk' %}
  {% block pageContent %}
    {% include contentPath %}
  {% endblock pageContent %}
{% endblock %}