---
noOutput: true
---
{% macro documentSection(contentPath, section, tier=1) %}

  {% import contentPath as file %}
  {% for sectionID, sectionInfo in section %}
    <h{{ tier }} id='{{sectionID}}'>{{sectionInfo.title}}</h{{tier}}>

    {% if sectionInfo.fromFile %}
      {% import sectionInfo.fromFile as extFile %}
      {% filter markdown %}{{extFile[sectionID]}}{% endfilter %}
    {% else %}
      {% filter markdown %}{{file[sectionID]}}{% endfilter %}
    {% endif %}

    {% if sectionInfo.subsections %}
      {% for section in sectionInfo.subsections %}
        {{ documentSection(contentPath, section, tier + 1) }}
      {% endfor %}
    {% endif %}
  {% endfor %}

{% endmacro %}